.choice {
    width: 140px;
}
.back{
    align-items: left;
}
a {
    color: white;
    font-family: "Now";
}

ion-col {
    align-items: center;
    text-align: center;
    justify-content: center;
}