<ion-header>
    <ion-grid>
      <ion-row>
        <ion-col class="back" size="auto">
          <ion-back-button defaultHref="/home" text="" color="dark"></ion-back-button>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <img src="./assets/lingo-bg.png" id="lingo">
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button shape="round" class="choice">
        <a href="/voice" style="text-decoration:none">Voice</a>
      </ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button shape="round" class="choice">
        <a href="/text" style="text-decoration:none">Text</a>
      </ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button shape="round" class="choice">
        <a href="/about" style="text-decoration:none">About</a>
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
