<ion-header>
  <img src="./assets/lingo-bg.png" id="lingo">
</ion-header>
<ion-content id="con"> 
  <ion-grid>
    <ion-row>
      <ion-col><ion-button shape="round">
        <a href="/menu" style="text-decoration:none">Get Started</a>
      </ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><p>A mobile application designed to acquire communications without limit. For one to be able to communicate with another despite not having any <br> prior experience or knowledge of sign languages.</p></ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
