:root {
  --ion-background-color: #AEE2FF;
}

ion-col {
  align-items: center;
  text-align: center;
  justify-content: center;
}
#lingo {
  margin-bottom: 150px;
}
a{
  color: white;
  font-family: "Now";
}
p {
  font-family: "Now";
  font-size: 15px;
  margin-bottom: 50px;
}