<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-back-button defaultHref="/menu" color="dark" text=""></ion-back-button>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-header collapse="condense" id="gifContainer">
  <img src="./assets/lingo-bg1.png">
</ion-header>
<ion-content [fullscreen]="true">
 <ion-grid>
  <ion-row>
    <ion-col>
      <ion-button shape="round" (click)="start()" class="speak">Tap to Speak</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <img src="./assets/mic.png" class="mic">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input [(ngModel)]="vWord" [disabled]="true" fill="outline" class="cent"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>PS: Words are limited as for now and <br> will be updated in the future.</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
