:root {
  --ion-background-color: #AEE2FF;
}
ion-col {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .speak{
    width: 140px;
  }

  .mic{
    width: 30px;
    margin-top: 15px;
  }

  .cent {
    color: black;
    font-weight: bolder;
  }
